<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
</head>
<body>
    <h1>hello word!!!</h1>
    <div>
        <div>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
        </div>
        <div>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
            <p>this is a html page</p>
        </div>
    </div>
    <a href="/login"><h1>点击登录</h1></a>
</body>
</html>
